
provider "aws" {
    ${alias}
    region                      = "us-east-1"
    skip_credentials_validation = true
    skip_requesting_account_id  = true
    skip_metadata_api_check     = true
    s3_force_path_style         = true
    access_key                  = "mock_access_key"
    secret_key                  = "mock_secret_key"
    
    endpoints {
        accessanalyzer         = "http://localhost:${port}/accessanalyzer"
        acm                    = "http://localhost:${port}/acm"
        acmpca                 = "http://localhost:${port}/acmpca"
        amplify                = "http://localhost:${port}/amplify"
        apigateway             = "http://localhost:${port}/apigateway"
        applicationautoscaling = "http://localhost:${port}/applicationautoscaling"
        applicationinsights    = "http://localhost:${port}/applicationinsights"
        appmesh                = "http://localhost:${port}/appmesh"
        appstream              = "http://localhost:${port}/appstream"
        appsync                = "http://localhost:${port}/appsync"
        athena                 = "http://localhost:${port}/athena"
        autoscaling            = "http://localhost:${port}/autoscaling"
        autoscalingplans       = "http://localhost:${port}/autoscalingplans"
        backup                 = "http://localhost:${port}/backup"
        batch                  = "http://localhost:${port}/batch"
        budgets                = "http://localhost:${port}/budgets"
        cloud9                 = "http://localhost:${port}/cloud9"
        cloudformation         = "http://localhost:${port}/cloudformation"
        cloudfront             = "http://localhost:${port}/cloudfront"
        cloudhsm               = "http://localhost:${port}/cloudhsm"
        cloudsearch            = "http://localhost:${port}/cloudsearch"
        cloudtrail             = "http://localhost:${port}/cloudtrail"
        cloudwatch             = "http://localhost:${port}/cloudwatch"
        cloudwatchevents       = "http://localhost:${port}/cloudwatchevents"
        cloudwatchlogs         = "http://localhost:${port}/cloudwatchlogs"
        codebuild              = "http://localhost:${port}/codebuild"
        codecommit             = "http://localhost:${port}/codecommit"
        codedeploy             = "http://localhost:${port}/codedeploy"
        codepipeline           = "http://localhost:${port}/codepipeline"
        cognitoidentity        = "http://localhost:${port}/cognitoidentity"
        cognitoidp             = "http://localhost:${port}/cognitoidp"
        configservice          = "http://localhost:${port}/configservice"
        cur                    = "http://localhost:${port}/cur"
        dataexchange           = "http://localhost:${port}/dataexchange"
        datapipeline           = "http://localhost:${port}/datapipeline"
        datasync               = "http://localhost:${port}/datasync"
        dax                    = "http://localhost:${port}/dax"
        devicefarm             = "http://localhost:${port}/devicefarm"
        directconnect          = "http://localhost:${port}/directconnect"
        dlm                    = "http://localhost:${port}/dlm"
        dms                    = "http://localhost:${port}/dms"
        docdb                  = "http://localhost:${port}/docdb"
        ds                     = "http://localhost:${port}/ds"
        dynamodb               = "http://localhost:${port}/dynamodb"
        ec2                    = "http://localhost:${port}/ec2"
        ecr                    = "http://localhost:${port}/ecr"
        ecs                    = "http://localhost:${port}/ecs"
        efs                    = "http://localhost:${port}/efs"
        eks                    = "http://localhost:${port}/eks"
        elasticache            = "http://localhost:${port}/elasticache"
        elasticbeanstalk       = "http://localhost:${port}/elasticbeanstalk"
        elastictranscoder      = "http://localhost:${port}/elastictranscoder"
        elb                    = "http://localhost:${port}/elb"
        emr                    = "http://localhost:${port}/emr"
        es                     = "http://localhost:${port}/es"
        firehose               = "http://localhost:${port}/firehose"
        fms                    = "http://localhost:${port}/fms"
        forecast               = "http://localhost:${port}/forecast"
        fsx                    = "http://localhost:${port}/fsx"
        gamelift               = "http://localhost:${port}/gamelift"
        glacier                = "http://localhost:${port}/glacier"
        globalaccelerator      = "http://localhost:${port}/globalaccelerator"
        glue                   = "http://localhost:${port}/glue"
        guardduty              = "http://localhost:${port}/guardduty"
        greengrass             = "http://localhost:${port}/greengrass"
        iam                    = "http://localhost:${port}/iam"
        imagebuilder           = "http://localhost:${port}/imagebuilder"
        inspector              = "http://localhost:${port}/inspector"
        iot                    = "http://localhost:${port}/iot"
        iotanalytics           = "http://localhost:${port}/iotanalytics"
        iotevents              = "http://localhost:${port}/iotevents"
        kafka                  = "http://localhost:${port}/kafka"
        kinesis                = "http://localhost:${port}/kinesis"
        kinesisanalytics       = "http://localhost:${port}/kinesisanalytics"
        kinesisvideo           = "http://localhost:${port}/kinesisvideo"
        kms                    = "http://localhost:${port}/kms"
        lakeformation          = "http://localhost:${port}/lakeformation"
        lambda                 = "http://localhost:${port}/lambda"
        lexmodels              = "http://localhost:${port}/lexmodels"
        licensemanager         = "http://localhost:${port}/licensemanager"
        lightsail              = "http://localhost:${port}/lightsail"
        macie                  = "http://localhost:${port}/macie"
        managedblockchain      = "http://localhost:${port}/managedblockchain"
        marketplacecatalog     = "http://localhost:${port}/marketplacecatalog"
        mediaconnect           = "http://localhost:${port}/mediaconnect"
        mediaconvert           = "http://localhost:${port}/mediaconvert"
        medialive              = "http://localhost:${port}/medialive"
        mediapackage           = "http://localhost:${port}/mediapackage"
        mediastore             = "http://localhost:${port}/mediastore"
        mediastoredata         = "http://localhost:${port}/mediastoredata"
        mq                     = "http://localhost:${port}/mq"
        neptune                = "http://localhost:${port}/neptune"
        opsworks               = "http://localhost:${port}/opsworks"
        organizations          = "http://localhost:${port}/organizations"
        personalize            = "http://localhost:${port}/personalize"
        pinpoint               = "http://localhost:${port}/pinpoint"
        pricing                = "http://localhost:${port}/pricing"
        qldb                   = "http://localhost:${port}/qldb"
        quicksight             = "http://localhost:${port}/quicksight"
        ram                    = "http://localhost:${port}/ram"
        rds                    = "http://localhost:${port}/rds"
        redshift               = "http://localhost:${port}/redshift"
        resourcegroups         = "http://localhost:${port}/resourcegroups"
        route53                = "http://localhost:${port}/route53"
        route53resolver        = "http://localhost:${port}/route53resolver"
        s3                     = "http://localhost:${port}/s3"
        s3control              = "http://localhost:${port}/s3control"
        sagemaker              = "http://localhost:${port}/sagemaker"
        sdb                    = "http://localhost:${port}/sdb"
        secretsmanager         = "http://localhost:${port}/secretsmanager"
        securityhub            = "http://localhost:${port}/securityhub"
        serverlessrepo         = "http://localhost:${port}/serverlessrepo"
        servicecatalog         = "http://localhost:${port}/servicecatalog"
        servicediscovery       = "http://localhost:${port}/servicediscovery"
        servicequotas          = "http://localhost:${port}/servicequotas"
        ses                    = "http://localhost:${port}/ses"
        shield                 = "http://localhost:${port}/shield"
        sns                    = "http://localhost:${port}/sns"
        sqs                    = "http://localhost:${port}/sqs"
        ssm                    = "http://localhost:${port}/ssm"
        stepfunctions          = "http://localhost:${port}/stepfunctions"
        storagegateway         = "http://localhost:${port}/storagegateway"
        sts                    = "http://localhost:${port}/sts"
        swf                    = "http://localhost:${port}/swf"
        transfer               = "http://localhost:${port}/transfer"
        waf                    = "http://localhost:${port}/waf"
        wafregional            = "http://localhost:${port}/wafregional"
        wafv2                  = "http://localhost:${port}/wafv2"
        worklink               = "http://localhost:${port}/worklink"
        workspaces             = "http://localhost:${port}/workspaces"
        xray                   = "http://localhost:${port}/xray"
    }
}
